<div class="container-fluid">
    <div class="row mt-2 mb-2">
      @for(item of vehicleList; track item.url.split("/")[5]) {
      <div class="col-md-3 col-12">
        <div class="card" style="width: 18rem">
          <img [src]="imgUrl" class="card-img-top" [alt]="item.name"/>
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">
              Model: {{ item.model }} - Manufacturer: {{ item.manufacturer }}</p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  